# General
.git
.gitignore
.env
.env.*
.DS_Store

# Node
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# PHP
vendor
composer.lock

# Laravel
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/framework/testing/.gitignore
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/storage

# Tests and local tooling
tests
*.local
